.header {
    color: rgb(97, 52, 231);
    text-align: center;
}

.subheader {
    color: rgb(82, 231, 52);
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.bearCollection {
    color: rgb(213, 89, 191);
}

.bear-img {
    height: 250px;
    width: 250px;
    color: rgb(230, 107, 26);
    
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
      
@keyframes gradient {
    0% {
    background-position: 0% 50%;
}
    50% {
    background-position: 100% 50%;
}
    100% {
    background-position: 0% 50%;
}
}
    
.bear-card{
    border: solid 7px rgba(244, 120, 37, 0.432);
    background-color: rgba(242, 242, 108, 0.264);
    color: rgb(231, 227, 7);
    font-weight: bold;
    padding: 20px;
    margin-bottom: 15px;
    margin-inline: 10px;
    width: 15em;
    display: inline-grid;
    justify-content: space-around;
    text-align: center;
    border-radius: 25px;
  }  

.btn {
    background-color: rgb(143, 222, 244);
    color: rgba(231, 17, 17, 0.873);
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 25px;
    font-size: 40px;
    align-content: center;
    text-align: center;
    margin: auto;
    bottom: 20px;
    border-color: transparent;
}

.form {
  text-align: center;
  color:rgb(164, 13, 136)
}


  
  
